<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>

  <nlog throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <time type="AccurateUTC" />
    <targets>
      <target xsi:type="Chainsaw" name="Chainsaw" address="udp://127.0.0.1:7071" />
      <target xsi:type="Trace" name="Trace" layout="NLog | ${level:padding=5} | ${logger} | ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="Chainsaw" />
      <logger name="*" minlevel="Trace" writeTo="Trace" />
    </rules>
  </nlog>

  <specFlow>
    <unitTestProvider name="xUnit" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>

</configuration>